In [3]:
# LIST
# EXERCISE 1
numbers=[100,4,77,99,45]
print("numbers:",numbers[0:5])

numbers: [100, 4, 77, 99, 45]

In [1]:
# EXERCISE 2
numbers=[100,4,77,99,45]
numbers.append(10)
numbers.append(90)
numbers.append(55)
print(numbers)

[100, 4, 77, 99, 45, 10, 90, 55]

In [85]:
# EXERCISE 3
numbers=[100,4,77,99,45,10,90,55]
for i in numbers:
     print(i)

100
4
77
99
45
10
90
55

In [93]:
# DICTIONARY
# EXERCISE 1
DICTIONARY ={
    'name':'john',
    'age':23,
    'address':'new york'
}
print(DICTIONARY)

{'name': 'john', 'age': 23, 'address': 'new york'}

In [95]:
# EXERCISE 2
DICTIONARY['phone']='1234567890'
print(DICTIONARY)

{'name': 'john', 'age': 23, 'address': 'new york', 'phone': '1234567890'}

In [11]:
# SET
# EXERCISE 1
Set={1,2,3,4,5}
print("Set:",Set)

Set: {1, 2, 3, 4, 5}

In [19]:
# EXERCISE 2
Set={1,2,3,4,5}
Set.add(6)
print("Set:",Set)

Set: {1, 2, 3, 4, 5, 6}

In [25]:
# EXERCISE 3
Set={1,2,3,4,5,6}
Set.remove(3)
print("Set:",Set)

Set: {1, 2, 4, 5, 6}

In [27]:
# TUPLE
# EXERCISE 1
T1=(1,2,3,4)
T1

(1, 2, 3, 4)

In [7]:
# EXERCISE 2
print("Length of the tuple T1:",len(T1))

Length of the tuple T1: 4